<footer class="footer-top fixed">

  <div class="row">
    <div class=" col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
      <h4 class="edit-h">AmaZ</h4>
      <p class="p">Vitrine do artesanato brasileiro, produzido por comunidades tradicionais da região
        Amazônica.</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 segment-two mb-mb-30 sm-mb-30">
      <h2 class="edit-h">Acessos</h2>
      <ul>
        <li><a [routerLink]="'/faq'">• Dúvidas</a></li>
        <li><a [routerLink]="'/contato'">• Seja um fornecedor</a></li>
        <li><a [routerLink]="'/contato'">• Trabalhe conosco</a></li>
        <li><a>• Nosso Blog</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30">
      <h2 class="edit-h">Social</h2>
      <p class="p">Nos siga em nossas redes sociais!
      </p>
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-left">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/Amaz-106557774255909" target="_blank" class="btn-floating btn-fb mx-1">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>

        <li class="list-inline-item">
          <a href="https://www.instagram.com/loja_amaz/" target="_blank" class="btn-floating btn-gplus mx-1">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/lojaamaz/" target="_blank" class="btn-floating btn-li mx-1">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 segment-four sm-mb-30">
      <div class="col-md-3 col-sm-6 col-xs-12 segment-four"></div>
      <h2 class="edit-h">Receba as nossas novidades</h2>
      <p class="p">Saiba mais sobre o nosso trabalho e como estamos fazendo a diferença!</p>
      <form>
        <input type="email" placeholder="Digite seu e-mail aqui">
        <input type="submit" value="enviar">
      </form>
    </div>
  </div>

  <p class="footer-bottom-text">Todos os direitos reservados by &copy;AmaZ</p>
</footer>
