<div class="bg-fundo-faq">

  <div class="container bg-container">

    <div class="faq-fundo ">
      <img class="edit-logo-amaz" src="../../assets/LogoAmaZAimarrom-01.png" width="13%" height="13%" alt="Logo AmaZ">
      <h2>Central de ajuda</h2>

      <h5>Olá! Como podemos te ajudar?</h5>
      <br>
      <div class="wrapper c-height container  col-md-8 col-sm-10 col-12">
        <div class="search-area c-height row">
          <div class="single-search col-sm  ">
            <input class="custom-input" type="text" name="" placeholder="Ex: quais as formas de pagamento...">
            <a href="#" class="icon-area col"><i class="fa fa-search"></i></a>
          </div>
        </div>
      </div>

      <h3>Se preferir, você pode navegar pelas dúvidas mais frequentes:</h3>


      <div class="row">
        <div class="col-md-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Formas de pagamento
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p>Você pode pagar seu pedido das seguintes maneiras:</p>
                  <p>Pagamento à vista:</p>
                  <p>• boleto bancário</p>
                  <p>• débito em conta</p>
                  <p>• cartão de crédito</p>
                  <p>Pagamento parcelado:</p>
                  <p>• cartão de crédito</p>
                  <p>O pedido estará sujeito à aprovação da administradora de cartão de crédito.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Frete e Entrega
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <p>É possível acompanhar o status do seu pedido acessando a área logada no site.</p>
                  <p>Você pode consultar o prazo de entrega para sua região após a digitação do CEP na página de pedido.
                    As
                    estimativas de entrega para os produtos adquiridos pela loja virtual da Amaz são sazonais e
                    dependem de região para região.</p>
                  <p>ATENÇÃO: O prazo de entrega inicia-se no dia útil seguinte à confirmação do pagamento. Todos os
                    dados
                    cadastrais registrados serão avaliados e, caso haja alguma divergência, entraremos em contato.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                    href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Trocas e Devoluções
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <p>Se você se arrependeu da compra, tem até 7 dias corridos a partir da data de entrega do pedido para
                    solicitar sua troca por outro produto de mesmo valor ou a devolução do seu dinheiro. Lembre-se que
                    ele
                    deve ser devolvido exatamente como chegou, sem sinal de uso e com lacre, se houver.</p>
                  <p>O produto
                    chegou com defeito? Você pode solicitar a troca por outro de mesmo valor em até 30 dias corridos
                    do momento da entrega.</p>
                  <p>Como solicitar a troca ou a devolução do pedido:</p>
                  <p>É só entrar em contato com a nossa Central de Relacionamento que
                    resolvemos tudo para você. Clique aqui para escolher o canal de atendimento.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                    href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Alterar dados
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <p>Para sua segurança só é possível alterar os seguintes dados da sua conta: endereço, telefones,
                    e-mail adicional, frase de segurança e senha, para fazer a alteração siga o passo a
                    passo abaixo:</p>
                  <p>Acesse a sua conta, em seguida selecione meus dados, clique em editar dados, altere seus dados e
                    finalize em salvar dados.</p>
                  <p>Em alguns casos será realizado um procedimento de segurança por meio do envio de um código para o
                    celular
                    seguro cadastrado.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                    href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Acompanhar pedido
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                  <p>Você poderá consultar sempre o estágio do seu pedido através do menu MEUS PEDIDOS, no topo do site.
                    As
                    classificações dele podem ser:</p>
                  <p>PEDIDO REALIZADO:</p>
                  <p>Significa que o seu pedido foi registrado em nosso sistema e está aguardando confirmação de
                    pagamento.
                  </p>
                  <p>PROCESSANDO PAGAMENTO:</p>
                  <p>Etapa onde seu pedido passará pela análise da AmaZ quanto ao meio de pagamento utilizado, a
                    quantia recebida e se os produtos estão disponíveis em estoque. A Análise ocorrerá em até 48 horas.
                  </p>
                  <p>PREPARANDO ENTREGA:</p>
                  <p>Significa que seu pedido foi aprovado e agora se encontra no estágio de separação dos produtos em
                    estoque.</p>
                  <p>ENVIADO:</p>
                  <p>Pedido está com a transportadora, a caminho de ser entregue.</p>
                  <p>PEDIDO CANCELADO:</p>
                  <p>Significa que o pedido não foi concluído por um destes motivos: (I) não liberado durante a análise.
                    Um
                    e-mail será enviado para o consumidor avisando deste status; (II) pedido com pagamento em boleto
                    bancário sem pagamento detectado no prazo estabelecido. Um e-mail será enviado para o consumidor
                    avisando deste
                    status; (III) pedido com pagamento não autorizado pela operadora de cartão de crédito. Um e-mail
                    será
                    enviado para o consumidor avisando deste status; (IV) pedido não concluído devido a um erro no
                    navegador
                    do usuário, travamento em seu computador ou falha na comunicação em rede no procedimento de
                    conclusão da
                    compra.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
