:focus {
  outline: none;
}

.click{
  cursor: pointer;
}

/* necessary to give position: relative to parent. */

input[type="text"] {
  font: 15px/24px "Open Sans", sans-serif!important;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.effect-1, .effect-2, .effect-3 {
  border: 0;
  border-bottom: 1px solid #ccc;
}

.effect-1~.focus-border {
  position: absolute;
  bottom: 8px;
  left: 53px;
  width: 0;
  height: 1.5px;
  background-color: rgba(248, 236, 236, 0.80);
  transition: 0.6s;
}

.effect-1:focus~.focus-border {
  width: 60%;
  transition: 0.6s;
}

.list-group-item {
  white-space: nowrap;
  padding: .5rem 1.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #eaecf4;
  background: none;
  border: none;
  font-family: "Open Sans", sans-serif!important;
}

.search-form {
  max-height: 30px;
  max-width: 150px;
  padding: .2rem .2rem;
  border: none;
}

.link {
  cursor: pointer;
}

.txt-color {
  color: #fff;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif!important;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.body {
  min-height: 100%!important;
  width: 242px;
}

a:focus {
  outline: none;
}

.container, .container-fluid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@keyframes growIn {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.bg-gradient-primary {
  background-image: linear-gradient(#252f158f, rgba(37, 47, 21, 0.75), rgb(167, 187, 127));
}

.sidebar .nav-item.dropdown.show .dropdown-toggle::after, .topbar .nav-item.dropdown.show .dropdown-toggle::after {
  content: '\f107';
}

.sidebar .nav-item .nav-link, .topbar .nav-item .nav-link {
  position: relative;
}

.sidebar .nav-item .nav-link .badge-counter, .topbar .nav-item .nav-link .badge-counter {
  position: absolute;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  right: .25rem;
  margin-top: -.25rem;
  min-height: 100%!important;
}

.sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {
  width: 2rem;
}

@media (min-width: 576px) {
  .sidebar {
    min-height: 100%;
  }
  .sidebar .nav-item {
    position: relative;
  }
  .sidebar .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .sidebar .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 6.5rem;
  }
  .sidebar .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
  }
  .sidebar .nav-item.active .nav-link {
    font-weight: 700;
  }
  .sidebar .nav-item .collapse {
    position: absolute;
    left: calc(6.5rem + 1.5rem / 2);
    z-index: 1;
    top: 2px;
  }
  .sidebar .nav-item .collapse .collapse-inner {
    border-radius: 0.35rem;
    -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  }

  .sidebar .nav-item .collapse .collapse-inner, .sidebar .nav-item  .collapse-inner {
    padding: .5rem 0;
    min-width: 10rem;
    font-size: 0.85rem;
    margin: 0 0 1rem 0;
  }
  .sidebar .nav-item .collapse .collapse-inner .collapse-header, .sidebar .nav-item .collapse-inner .collapse-header {
    margin: 0;
    white-space: nowrap;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.65rem;
    color: #b7b9cc;
    font-family: "Open Sans", sans-serif!important;
  }
  .sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item  .collapse-inner .collapse-item {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    display: block;
    color: #3a3b45;
    text-decoration: none;
    border-radius: 0.35rem;
    white-space: nowrap;
    font-family: "Open Sans", sans-serif!important;
  }
  .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item  .collapse-inner .collapse-item:hover {
    background-color: #eaecf4;
  }
  .sidebar .nav-item .collapse .collapse-inner .collapse-item:active, .sidebar .nav-item  .collapse-inner .collapse-item:active {
    background-color: #dddfeb;
  }
  .sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item  .collapse-inner .collapse-item.active {
    color: #4e73df;
    font-weight: 700;
  }
 
  .sidebar .sidebar-brand {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    font-family: "Open Sans", sans-serif!important;
  }
  .sidebar .sidebar-brand .sidebar-brand-icon i {
    font-size: 5rem;
  }
  .sidebar .sidebar-brand .sidebar-brand-text {
    display: none;
  }
  .sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem;
  }
  .sidebar .sidebar-heading {
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 0.65rem;
  }
  @media (min-width: 768px) {
    .sidebar {
      min-width: 15rem;
    }
    .sidebar .nav-item .collapse {
      position: relative;
      left: 0;
      z-index: 1;
      top: 0;
      -webkit-animation: none;
      animation: none;
    }

    .sidebar .nav-item .collapse, .sidebar .nav-item .collapsing {
      margin: 0 1rem;
    }
    .sidebar .nav-item .nav-link {
      display: block;
      width: 100%;
      text-align: left;
      padding: 1rem;
      width: 14rem;
    }
    .sidebar .nav-item .nav-link i {
      font-size: 0.85rem;
      margin-right: 0.25rem;
    }
    .sidebar .nav-item .nav-link span {
      font-size: 0.85rem;
      display: inline;
      font-family: "Open Sans", sans-serif!important;
    }
    .sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
      width: 1rem;
      text-align: center;
      float: right;
      vertical-align: 0;
      border: 0;
      font-weight: 900;
      content: '\f107';
      font-family: 'Font Awesome 5 Free';
    }
    .sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after {
      content: '\f105';
    }
    .sidebar .sidebar-brand .sidebar-brand-icon i {
      font-size: 5rem;
    }
    .sidebar .sidebar-brand .sidebar-brand-text {
      display: inline;
    }
    .sidebar .sidebar-heading {
      text-align: left;
    }
  }
  .sidebar-dark .sidebar-brand {
    color: #fff;
  }
  .sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
  .sidebar-dark .sidebar-heading {
    color: rgba(255, 255, 255, 0.4);
  }
  .sidebar-dark .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8);
  }
  .sidebar-dark .nav-item .nav-link i {
    color: rgba(255, 255, 255, 0.3);
  }
  .sidebar-dark .nav-item .nav-link:active, .sidebar-dark .nav-item .nav-link:focus, .sidebar-dark .nav-item .nav-link:hover {
    color: #fff;
  }
  .sidebar-dark .nav-item .nav-link:active i, .sidebar-dark .nav-item .nav-link:focus i, .sidebar-dark .nav-item .nav-link:hover i {
    color: #fff;
  }
  }