<div class="bg">
  <div class="bg-cover">
    <br>
    <h2 class="text-center py-4">COMUNIDADES</h2>
    <br><br>
  </div>
  <br><br><br><br>
  <div class="container ">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card hover-efect">
          <div class="view ">
            <img src="../../assets/turiarte2.jpg" class="card-img-top " alt="Foto da comunidade Turiarte">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body text-center">
            <h3 class="card-title white-text subtitulos">Turiarte: Tapajós - Arapiuns</h3>
            <p style="text-align: justify" class="card-text white-text txt2 "> A confecção do artesanato de tucumã é
              feita
              por 55 artesãos (cerca de 50 mulheres e 5
              homens) de cinco comunidades ribeirinhas da Reserva Extrativista (Resex) Tapajós-Arapiuns - através
              da cooperativa Turiarte - a cerca de seis horas de barco do município de Santarém. O isolamento
              desses núcleos faz com que os ribeirinhos dali mantenham vivas atividades tradicionais dos povos da
              floresta.
            </p>
            <p style="text-align: justify" class="txt2">A técnica de trançado de palha da Turiarte é passada de geração
              em
              geração em
              comunidades amazônicas às margens do Rio Arapinus. É das folhas do tucumã, tipo de palmeira bastante
              encontrada no Pará, que os artesãos extraem a fibra usada para trançar cestos, mandalas, bolsas,
              colares vasos, baús com desenhos geométricos de estilo próprio e cores vibrantes. Em alguns casos,
              as fibras podem ser tingidas com pigmentos naturais, por processo de fervura de plantas encontradas
              na Amazônia.
            </p>
            <button class="edit-a" type="button" mat-stroked-button color="gradient"><a
                href="https://turiarteamazonia.wordpress.com/" target="_blank">SAIBA MAIS</a></button>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card primary-color-dark hover-efect">
          <div class="view">
            <img src="../../assets/tumbira.jpg" class="card-img-top" alt="Foto entrelaçando gerações">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body text-center">
            <h3 class="card-title white-text subtitulos">Entrelaçando Gerações</h3>
            <p style="text-align: justify" class="card-text white-text">O nome Entrelaçando Gerações foi dado pela
              passagem dos conhecimentos do
              artesanato de
              uma geração para outra, sendo muito forte na vida das mulheres ribeirinhas da Reserva de
              Desenvolvimento Sustentável, do Rio Negro (Tumbira). Ele surgiu em 2006, pra resgatar a sabedoria
              dos povos tradicionais com uma pegada sustentável. Hoje, o artesanato é a principal fonte de renda
              dessas famílias e expressa o brilho nos olhos dos artesãos inspirados pela floresta.</p>
            <p style="text-align: justify" class="card-text white-text">A artesã Neide Garrido, do Tumbira, produz
              artesanato junto com toda a
              família. “Nós, artesãs, buscamos usar elementos naturais nas produções, como uma forma de valorizar
              o que a floresta nos oferece. As peças ajudam a gerar renda e empoderam as mulheres da floresta, por
              meio de toda a história que construímos, sem precisar sair da comunidade”, disse.</p>
            <button class="edit-a" type="button" mat-stroked-button color="gradient"><a
                href="https://www1.folha.uol.com.br/cotidiano/2019/07/ribeirinhos-e-indios-da-amazonia-vendem-artesanato-pela-internet.shtml"
                target="_blank">SAIBA MAIS</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 class="text-uppercase text-center py-4"></h3>

  <section class="bg-midlle">
    <br>
    <br>
    <div class="row bg-resp">
      <div class="col-lg-4 col-md-12 mb-5 container">
        <div class="card mdb-color text-center z-depth-2 hover-efect">
          <div style="height: 356px" class= card-body>
            <h3 class="font-weight-bold cyan-text mt-2 mb-3 subtitulos"><strong>GRUPO BANZEIRO</strong></h3>
            <p style="text-align: justify" class="white-text mb-0">O Grupo de Artesanato, Banzeiro, surgiu em 2015 e é
              formado por 23 mulheres de quatro
              comunidades do município de Maués: São Raimundo do Apocuitaua, Nossa Senhora Aparecida, São João Batista e
              Menino Deus do Acãoera. Essas comunidades produzem a Rede Banzeiro, que pode ser transportada em forma de
              mochila. A ideia surgiu devido o acesso à maioria das comunidades amazônicas precisarem ser feitos por
              barcos, fazendo com que, durante a longa viagem, as pessoas utilizem redes para se acomodar.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5 container">

        <div class="card mdb-color text-center z-depth-2 hover-efect">
          <div style="height: 356px" class="card-body">
            <h3 class="font-weight-bold light-green-text mt-2 mb-3 subtitulos"><strong>AMARN</strong></h3>
            <p style="text-align: justify" class="white-text mb-0">A Associação das Mulheres Indígenas do Alto Rio
              Negro, AMARN, também chamada de Numiã Kurá, começou a
              ser gerida em 1984 e em 1987,
              finalmente se formalizou. O grupo foi organizado com o intuito de promover oportunidades de geração
              de renda, qualidade de vida e formação sociopolítica para as mulheres indígenas que viviam em
              situação de isolamento. A AMARN é uma das mais antigas organizações indígenas do Amazonas e do Brasil e
              esteve presente na criação da Coordenação das Organizações Indígenas da Amazônia Brasileira.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5 container">

        <div class="card mdb-color text-center z-depth-2 hover-efect">
          <div style="height: 356px" class="card-body">
            <h3 class="font-weight-bold purple-text mt-2 mb-3 subtitulos"><strong>GRUPO SURISAWA</strong></h3>
            <p style="text-align: justify" class="white-text mb-0">Surisawa, no dialeto Baré, significa alegria ou
              sorriso, a fonte de inspiração do grupo de artesanato que existe há cerca de dois anos para desenvolver a
              economia da comunidade ribeirinha. Entre os vários produtos sustentáveis produzidos pelos artesãos do
              Grupo Surisawa, estão abanos, arraias, chaveiros, colares e bolsas. Arte que está no sangue da comunidade
              indígena de etnia Baré em Nova Esperança, situada na Reserva de Desenvolvimento Sustentável Puranga
              Conquista, cuja a principal missão é resgatar a cultura do seu povo.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <h2 class="text-center py-4"></h2>

  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card hover-efect">
          <div class="view">
            <img src="../../assets/yanomami.jpg" class="card-img-top" alt="Foto Hutukara Associação Yanomami">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body text-center">
            <h3 class="card-title white-text subtitulos">Hutukara Associação Yanomami</h3>
            <p style="text-align: justify" class="card-text white-text">No Brasil, existem mais de 25 mil pessoas que
              vivem na Terra Indígena
              Yanomami, uma das
              maiores tribos relativamente isoladas na América do Sul. Nesse território, Os cestos de fibras
              naturais sempre foram trançados para o
              uso cotidiano das aldeias, seja na colheita, na pesca ou no armazenamento dos alimentos. Hoje, além
              do uso local, os artesãos seguem desenvolvendo esses objetos também para a comercialização,
              preservando a cultura ancestral e o fortalecendo sua identidade. Todas as peças são únicas e 100%
              artesanais, desde a colheita de cipó até o trançado. </p>
            <p style="text-align: justify" class="card-text white-text">
              Os artesãos responsáveis por essas criações fazem parte da Hutukara Associação
              Yanomami - com sede em Boa Vista (RR) -, fundada em 2004 na aldeia Watorikɨ por iniciativa do líder
              mundialmente conhecido Davi Kopenawa Yanomami para defesa do território e garantia dos direitos do povo
              yanomami.
            </p>
            <button class="edit-a" type="button" mat-stroked-button color="gradient"><a href="http://www.hutukara.org/"
                target="_blank">SAIBA MAIS</a></button>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card hover-efect">
          <div class="view">
            <img src="../../assets/assai.jpg" class="card-img-top " alt="Foto ASSAI - São Gabriel da Cachoeira">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body text-center">
            <h3 class="card-title white-text subtitulos">ASSAI - São Gabriel da Cachoeira</h3>
            <p style="text-align: justify" class="card-text white-text">O município de São Gabriel da Cachoeira fica
              às margens do Rio Negro, a 850km de Manaus, na região do Alto Rio Negro. A cidade possui a maior proporção
              de indígenas do Brasil. A Associação dos Artesãos Indígenas de São Gabriel
              da Cachoeira - ASSAI - integra cerca de 30 famílias de diferentes etnias que produzem e
              comercializam artesanato. O grupo, para além da comercialização dos produtos, tem como preocupação a
              difusão da cultura indígena do Alto Rio Negro.</p>
            <p style="text-align: justify" class="card-text white-text">
              A matéria-prima principal usada é a fibra vegetal das palmeiras de nome arumã e tucum.
              Os artesãos entram no mato em busca da planta que manejam de forma sustentável, tendo como base o
              conhecimento tradicional indígena herdado. Por se encontrar dentro de uma demarcação de Terra
              Indígena, os povos possuem licença para a extração de matéria-prima.
            </p>
            <button class="edit-a" type="button" mat-stroked-button color="gradient"><a href="https://assai.sgc.am/"
                target="_blank">SAIBA MAIS</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>