<div class="row no-gutters imagemfundo">

  <div class="col-lg-12">
    <h1>Quem Somos?</h1>

    <p class="recuo">Somos uma equipe de desenvolvedores web com histórias e experiências bem diversas de vida,
      e nos unimos para criar uma plataforma e-commerce que funciona como uma qualificada vitrine para o
      artesanato brasileiro, no caso, produzido por comunidades tradicionais da região Amazônica. Com o
      principal propósito de apoiar, valorizar e promover essa cultura, focando na sustentabilidade ambiental,
      econômica, social e cultural dos grupos produtivos, auxiliando em sua autonomia e desenvolvimento
      socioeconômico. E por consequência, incentivando a preservação da floresta.
      <br><br>
      Através da comercialização do artesanato tradicional, design e arte popular - técnicas de trançados, bordados, cerâmicas e tecelagem -, aproximando os artesãos do público consumidor, levando o
      patrimônio cultural do Brasil afora. A maior parte do lucro será revertido para as comunidades produtoras,
      e outra parte para o fundo de proteção da floresta Amazônica.</p>
  </div>
</div>

<div class="container">
  <div class="team-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center">
            <br>
            <h3>Nossa Equipe</h3>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6 col-9 justify-content-center">
        <div class="single-team">
          <div class="team-img">
            <img src="assets/foto_mariana.png" alt="Foto da desenvolvedora Mariana Franco" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Mariana Franco</h3>
              <p>Web developer</p>
            </div>
            <p class="team-text">
              Desenvolvedora web e Arquiteta que encontrou na tecnologia as
              ferramentas para transformar o seu trabalho em algo relevante de
              acordo com os seus valores. #maismulheresnatecnologia
            </p>
          </div>
        </div>
        <div class="wrapper justify-content-center">
          <ul class="social-icons icon-circle list-unstyled list-inline">
            <li> <a href="https://www.linkedin.com/in/marianafrnco/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li> <a href="https://github.com/mariana-franco" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-9 justify-content-center">
        <div class="single-team">
          <div class="team-img">
            <img src="assets/foto_caiosewa.jpeg" alt="Foto do desenvolvedor Caio Sewa" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Caio Sewa</h3>
              <p>Web developer</p>
            </div>
            <p class="team-text">
              Desenvolvedor web e Arquiteto que através da tecnologia pretende
              transformar a sua vida e consequentemente mudar a história de
              outras pessoas.
            </p>
          </div>
        </div>
        <div class="wrapper justify-content-center">
          <ul class="social-icons icon-circle list-unstyled list-inline">
            <li> <a href="https://www.linkedin.com/in/caio-sewa/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li> <a href="https://github.com/caiosewa" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-9 justify-content-center">
        <div class="single-team">
          <div class="team-img">
            <img src="assets/foto_leonardo.jpg" alt="Foto - Foto do desenvolvedor Leonardo Gregorio" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3 id="leotit">Leonardo Gregorio</h3>
              <p>Web developer</p>
            </div>
            <p class="team-text" id="leo">
              Desenvolvedor web junior e Analista de TI sempre envolvido na
              tecnologia e utilizando das ferramentas ao seu alcance para
              transformar o futuro e ajudar pessoas!
            </p>
          </div>
        </div>
        <div class="wrapper justify-content-center">
          <ul class="social-icons icon-circle list-unstyled list-inline">
            <li> <a href="https://www.linkedin.com/in/l-gregorio/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li> <a href="https://github.com/lgregorio" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-9 justify-content-center">
        <div class="single-team">
          <div class="team-img">
            <img src="assets/foto_gustavo.jpeg" alt="Foto do desenvolvedor Gustavo Macedo" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Gustavo Macedo</h3>
              <p>Web developer</p>
            </div>
            <p class="team-text">
              Apaixonado por tecnologia e em como ela pode impactar a vida das
              pessoas. Buscando sempre agregar valor e conhecimento, com
              personalidade de liderança e visando a excelência nos trabalhos
              em equipe.
            </p>
          </div>
        </div>
        <div class="wrapper justify-content-center">
          <ul class="social-icons icon-circle list-unstyled list-inline">
            <li> <a href="https://www.linkedin.com/in/gumaceddo" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li> <a href="https://github.com/gumaceddo" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>